*,
*::before,
*::after {
    box-sizing: border-box;
}/**
  |============================
  | root
  |============================
*/
:root {
    --font-primary: "Roboto", "sans-serif";
    --body-text: #434455;
    --background-color: #FFFFFF;
    --color-title-h2-h3-darkbg: #2e2f42;
    --color-hover-focus: #404bbf;
    --color-partlogo-buttons: #4d5ae5;
    --color-resst: #f4f4fd;
    --portfolio-button-border:#e7e9fc;
}

/**
  |============================
  | body
  |============================
*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--background-color);
    color: var(--body-text);
}

/**
  |============================
  | header
  |============================
*/
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-div{
    display: flex;
    align-items: center;
}
.img{
    display: block;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.menu-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}



.nav-menu-ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.nav-menu-li {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-title-h2-h3-darkbg);
    background-color: #FFFFFF;
    cursor: pointer;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding: 24px 0;
}

.nav-menu-li:focus,
.nav-menu-li:hover {
    color: #404bbf;
}

.address-text:hover,
.address-text:focus {
    color: #404bbf;
}



.logo {
    width: 44px;
    height: 21px;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-partlogo-buttons);
}

.web {
    width: 44px;
    height: 21px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    flex-direction: row;    
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-title-h2-h3-darkbg);
}
.address-ul{
    align-items: center;
    display: flex;
    gap:40px;
}
.address-contacts {
    text-decoration: none;
    list-style-type: none;
}

.address-text {
    color: var(--body-text);
}

.address-contacts:hover,
.address-contacts:focus {
    color: #404bbf
}

.address {
    font-style: normal;
    margin-left:auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.icon {
    display: inline-block;
    width:64px;
    height: 64px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/**
  |============================
  | main
  |============================
*/
.hero {
    padding: 188px 0;   
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
     url(../images/img-name.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-h {
    width: 496px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-background {


    background: #2E2F42;
}

.button {
    display: block;
    min-width: 169px;
    height:56px;
    border:none;
    align-items: flex-start;
    background-color: var(--color-partlogo-buttons);
    color: var(--color-partlogo-buttons);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.section-features{
    padding: 120px 0;
}

.features-ul{
    display: flex;
    gap:24px;
    align-items: flex-start;
    padding: 0;
}
.features-li{
    width: calc((100% - 24px * 3) / 4);
}
.features-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    height:112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.features-h {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-title-h2-h3-darkbg);
}

.section-three {
    padding-bottom: 120px;
}

.section-three-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-title-h2-h3-darkbg);
    margin-bottom: 72px;
}

.section-three-images {
    display: flex;
    gap:24px;
}

.section-three-image {
    flex-basis: calc((100% - 3 * 16px) / 3);
}

.section-our-team {
    padding: 120px 0;
    background-color: var(--color-resst);
}
.our-team-h{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--color-title-h2-h3-darkbg);
    margin-bottom: 72px;
}
.our-team-images{
    display: flex;
    gap:24px;
    list-style: none;
    text-decoration: none;
    
}
.our-team-li{
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.our-team-div{
    padding: 32px 16px;
}

.our-team-ul-h {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--color-title-h2-h3-darkbg);
    margin-bottom: 8px;
}

.our-team-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
    text-align: center;
}

.list {
    list-style: none;
}
.portfolio-nav-list {
    display: flex;
    justify-content: center;
    
    gap: 24px;
    margin-bottom: 72px;
}

.nav-button {
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--portfolio-button-border);
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    
}

.nav-button:hover,
.nav-button:focus {
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #404BBF;
}

.nav-button-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-partlogo-buttons);
    cursor: pointer;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-title-h2-h3-darkbg);

}
.portfolio-section{
    padding: 96px 0 120px;
}
.portfolio-list{
    flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}
.portfolio-item{
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.portfolio-title{
    margin-bottom: 8px;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
}
.portfolio-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.section-footer {
    background: #2E2F42;
}

.footer {
    background-color: var(--color-title-h2-h3-darkbg);
    padding: 100px 0;
}



.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    color: var(--color-partlogo-buttons);
}
.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.footer-logo-studio {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        display: inline;
        flex-direction: row;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-resst);
}